/* Cursor */
.cursor-pointer {
  cursor: pointer;
}

/* Scrollbar */
/* ::-webkit-scrollbar-thumb {
  border-radius: 20px;
} */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #404040;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #404040;
}

.our-work-card {
  background-color: rgba(255, 255, 255, 0.2) !important;
  border-radius: 10px;
  height: 100%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.our-work-card:hover {
  background-color: rgba(255, 255, 255, 0.3) !important;
  transform: scale(1.05);
}

/* AI */
input,
button,
textarea,
select {
  box-shadow: none !important;
}

.reply {
  text-align: left;
  color: #777d90;
  margin: 5px;
}

.user_input {
  text-align: left;
  color: white;
  margin: 5px;
}

.ban {
  text-align: left;
  margin: 5px;
}

.chat-input-container {
  border-radius: 30px;
  background-color: #424242;
  padding-left: 5%;
  padding-right: 5%;
  padding: 1%;
  position: fixed;
  bottom: 3%;
  left: 10%;
  right: 10%;
  width: auto;
}

.chat-button {
  border: none !important;
  outline: none !important;
  color: #fff !important;
  background-color: transparent;
  /* width: 20%; */
  padding: 15px !important;
  transition: 200ms;
}

.chat-button:hover {
  color: #fff !important;
  background-color: rgba(255, 255, 255, 0.1);
  transition: 200ms;
}

#prompt {
  border-radius: 0px;
  background-color: transparent !important;
  border: none !important;
  /* border-bottom: 1px solid rgb(255, 255, 255) !important; */
  font-size: 20px;
  color: #999;
}

#prompt::placeholder {
  color: rgba(128, 128, 128, 0.5);
  font-style: italic;
  opacity: 0.8;
}

/* Contact Form */
.form-input {
  background-color: transparent !important;
  border: none !important;
  border-bottom: #ffffff 1px solid !important;
  border-radius: 0px !important;
  padding: 10px !important;
  color: #fff !important;
}

/* Scroll */
.horizontal-scroll-clients {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding-bottom: 10px;
  padding-top: 10px;
}

.horizontal-scroll-clients::-webkit-scrollbar {
  height: 5px;
}

.client-logo {
  width: 15% !important;
  filter: grayscale(1);
  opacity: 0.3;
  transition: 200ms;
}

.client-logo:hover {
  filter: grayscale(0);
  opacity: 1;
  padding: 10px;
  transition: 200ms;
}

@media screen and (max-width: 768px) {
  .client-logo {
    width: 50% !important;
  }
}

.partners-logo {
  width: 50% !important;
  filter: grayscale(1);
  opacity: 0.3;
  transition: 200ms;
}

.partners-logo:hover {
  filter: grayscale(0);
  opacity: 1;
  transition: 200ms;
}

/* Text */
.text-link {
  color: dodgerblue !important;
  text-decoration: none !important;
}