* {
  font-family: "Nanum Gothic";
}

body {
  overflow-x: hidden;
}

section {
  width: 100%;
  height: 100vh;
}

.cursor-pointer {
  cursor: pointer;
}

#model-viewer {
  height: 100vh;
  width: auto;
}

@media screen and (max-width: 1000px) {
  #model-viewer {
    height: 50vh;
    width: auto;
  }
}
