:root {
  --theme-blue: #89d3ff;
  --theme-red: #ff7372;
}

h1 {
  font-size: 85px;
  font-family: "Tangerine";
}

body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  /* background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%); */
  background-repeat: no-repeat;
  font-family: "Ubuntu";
}

section {
  color: white;
  width: 100%;
  height: auto;
}

/* floating animation */
.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 20px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

/* text */
.text-align-justify {
  text-align: justify;
}

/* Navbar */
.nav-logo {
  transition: 200ms;
}
.nav-logo:hover {
  transform: rotate(30deg);
  transition: 200ms;
}

.nav-link-effect {
  color: white;
}

.nav-link-effect:hover {
  color: var(--theme-red);
}

/* Icon */
.fsIcon {
  padding: 15px;
  margin: 10px;
  border-radius: 50px;
  border: 2px solid transparent;
  background-color: white;
  font-size: 30px;
  color: rgb(0, 0, 0);
  transition: 200ms;
}

.fsIcon:hover {
  padding: 15px;
  margin: 10px;
  border-radius: 50px;
  border: 2px solid white;
  background-color: transparent;
  font-size: 30px;
  color: rgb(255, 255, 255);
  transition: 200ms;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Client */
.clientLogo {
  border-radius: 20px;
  filter: grayscale(1);
  transition: 200ms;
  width: 30%;
}

.clientLogo:hover {
  filter: grayscale(0);
  transition: 200ms;
}

@media all and (max-width: 1300px) {
  .clientLogo {
    width: 90%;
  }
}
